ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
ul li a{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
}

ul li a:hover{
    background-color: red;
    color: #fff;
}

.active{
    font-weight: bold;
    text-decoration: underlined;
}

.navbarmenu
{
    margin:0px 5px 0px 5px;
    color:#fff;
}

.navbarmenu:hover {
    text-decoration: bold;
    text-decoration: underline;
    color:#fff;
    
}

.bodypage {
    margin-top:10px;
}
.nopadding {
    padding:0px !important;
}

.maincontent {
    overflow-y: auto;
    max-height:750px;
    -ms-overflow-style: none;
  scrollbar-color: transparent transparent; /*just hides the scrollbar for firefox */
}
.maincontent::-webkit-scrollbar {
    display: none;
}

.maincontent ::-moz-scrollbar {
    display: none;
}